* {
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    font:
        1.2em Helvetica,
        arial,
        sans-serif;
}

.wrapper>* {
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-head {
    grid-area: header;
    background-color: #F2F2F2;
}

.main-head h1 .text-blue {
    font-size: 37px;
}

.main-head .text-blue {
    color: #4472C4;
}



.main-head h2 {
    margin: 0 0 1rem 0;
    letter-spacing: 1px;
    font-size: 27px;
}

.main-nav {
    grid-area: nav;
    background-color: #4472C4;
    color: white;
    padding: 20px;
}






.wrapper {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "header"
        "nav"
        "content";
}

.section,
fieldset {
    margin-bottom: 2em;
}

.content .section {
    border: 1px solid rgb(184, 183, 183);
    border-radius: 25px;
    padding: 10px 10px 30px 20px;
}

.content h2 {
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.content .section h3 {
    padding: 10px 0;
}

.content .text-blue {
    color: #4472C4;
    font-weight: bold;
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: #4472C4;
}

a:hover {
    text-decoration: underline;
}

fieldset a {
    color: black;
}

p {
    margin: 0 0 1rem;
}

h1 {
    margin: 0 0 1rem;
    font-size: 37px;
    margin-bottom: 12px
}


.text-uppercase {
    text-transform: uppercase;
}

.icon {
    margin-right: .5rem;
}

h4.skills {
    margin: 10px 0px 0px 10px;
}

ul.skills {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 10px;
}

.section,
fieldset {
    margin-bottom: 2em;
}

.content .text-darkblue {
    color: #043baa;
}

.content .section {
    border-radius: 25px;
    padding: 10px 10px 30px 20px;
}

.content .section h3 {
    padding: 10px 0;
}

.content fieldset {
    border: 1px solid rgb(184, 183, 183);
    padding: 10px 10px 20px 20px;
    border-radius: 10px;
}

.content legend {
    padding: 0px 5px 0px 5px;
}

.experience-list {
    list-style-type: disc;
}

.content {
    grid-area: content;
    margin: 50px auto;
}

@media (min-width: 870px) {
    .wrapper {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "nav    header"
            "nav    content"
    }

    .content {
        padding: 50px;
        margin: 5px auto;
    }
}
